*{
    margin: 0;
    padding: 0;
}


.seConnecter{
    font-size: 0.70rem;
    color: whitesmoke;
}



body{
    margin: 0px;
    padding: 0px;
}


/* Effet de mouvement sur les CARDS TOP : formation DevWeb */
.card-img-overlay {
    transition-duration: 0.5s;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    height: 50%;  
}

.card-img-overlay:hover{
    justify-content: center;   
    height: 100%;          
}


.opaciteCarte{
    opacity: 1.5;
}

/* effet de zoom */
.zoomImage{
    transition-duration: 0.3s;
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
}
    

.zoomImage:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 6px rgb(163, 163, 163);
}
     
.borderImage{
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
    border-image: linear-gradient(red, blue) 27 / 35px;
    border-image-width: 5% 15% 10%;
    transition-duration: 0.3s;
}

.borderImage:hover{
    box-shadow: 4px 4px 5px rgb(131, 131, 131);
    transform: scale(1.05);
    
}